<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="gearGolf" version="2.2.0" viewmodes="fullscreen">
  <tizen:application id="FarVYc2rjW.gearGolf" package="FarVYc2rjW" required_version="2.2" />
  <content src="index.html" />
  <feature name="http://tizen.org/feature/screen.size.normal.320.320" />
  <feature name="http://developer.samsung.com/tizen/feature/network.accessory_protocol" />
  <icon src="icon.png" />
  <tizen:metadata key="AccessoryServicesLocation" value="res/xml/accessoryservices.xml" />
  <name>gearGolf</name>
  <tizen:privilege name="http://developer.samsung.com/privilege/healthinfo" />
  <tizen:privilege name="http://tizen.org/privilege/healthinfo" />
  <tizen:privilege name="http://tizen.org/privilege/vibrator" />
  <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol" />
  <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable" />
</widget>